@charset "EUC-KR";
/* login */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.login .title {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 45px;
}
.login .desc {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(85, 166, 48, 0.3);
  text-align: center;
  padding: 13px 0;
  margin-bottom: 10px;
  margin-right: 8px;
}
.login .desc .fa-check-square {
  margin-right: 10px;
  color: #2b9348;
  font-size: 18px;
}
.login .desc p{
  font-size: 18px;
}
.login .login_failed {
	width: 380px;
	font-size: 18px;
	 border-radius: 8px;
	background-color: rgba(237, 64, 64, 0.3);
	text-align: center;
 	padding: 13px 0;
  	margin-bottom: 10px;
  	margin-right: 8px;
}
.login .form-group {
  margin-bottom: 8px;
}
.login .form-group input {
  width: 380px;
  height: 50px;
}
.login .form-group input:focus {
  border: 2px solid #55a630;
}
.login .fill-button {
  font-size: 18px;
  width: 380px;
  height: 50px;
  margin-top: 20px;
}
